.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
}

.eating {
  width: 60%;
  height: auto;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  border-style: outset;
  border: gray solid 1.4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
